ul.unmarked-list {
  list-style-type: none;
}
header {
  background-color: black;
  color: white;
  text-align: center;
  padding: 5px;
  height: 20%; 
}
nav {
  line-height: 30px;
  background-color: #eeeeee;
  height: auto;
  width: auto;
  float: left;
  padding: 5px; 
}
section {
  width: auto;
  float: left;
  padding: 10px;
  height: 70%;
}
footer {
  background-color: black;
  color: white;
  clear: both;
  text-align: center;
  padding: 5px;
  height: 10%;
}
